{% load static %}
<div class="android-header mdl-layout__header mdl-layout__header--waterfall">
    <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <a href="/"><img src="{% static 'quiz/images/plabIcon.png' %}" alt="medic whizz logo" width="50px"></a>
          </span>
        <h1><span class="mdl-navigation__link mdl-layout-title" style="font-size: 22px;">Plab Master</span></h1>
        <!-- Add spacer, to align navigation to the right in desktop -->
        <div class="android-header-spacer mdl-layout-spacer"></div>
        <!-- Navigation -->
        <div>
            <nav class="android-navigation mdl-navigation">
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="#" onclick="finish_confirmation()">Finish</a>
                <a class="mdl-navigation__link mdl-typography--text-uppercase" href="{% url 'quiz:logout' %}">Logout</a>
            </nav>
        </div>
        <span class="android-mobile-title mdl-layout-title">
          </span>
    </div>
</div>