<html>
<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.indigo-pink.min.css">

</head>

<body>

<!-- Always shows a header, even in smaller screens. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {% block nav %}
    {% endblock nav %}
    <main class="mdl-layout__content">
        <div class="page-content">
            {% block container %} {% endblock container %}
        </div>
    </main>
</div>

<script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>

</body>
</html>