{% extends 'quiz/base.html' %}

{% block nav %} {% include 'quiz/includes/quiz_nav.html' %} {% endblock nav %}

{% block container %}
    <div class="container">
        <h1>Medic Whizz</h1>
        {{ error }}
        <h3>Question {{ question.index }} of {{ num_questions }}</h3>

        <p>{{ question.text }}</p>

        <form method="post" action="">
            {% csrf_token %}
            <p class="mdl-typography--subhead">Choices:</p>
            {% for choice in question.choices %}
                <label class="mdl-radio mdl-js-radio mdl-js-ripple-effect" for="option-{{ choice.index }}">
                    <input type="radio" id="option-{{ choice.index }}" class="mdl-radio__button" name="choice"
                           value="{{ choice.index }}">
                    <span class="mdl-radio__label">{{ choice.text }}</span>
                </label><br/>
            {% endfor %}
        <br/>
            <input type="submit" name="save_answer" value="{% if is_last_question %}FINISH{% else %}SAVE{% endif %}"
            class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored"><br/><br/>

            <div>
                {% for status in question_status %}
                    <button type="submit" name="change_question_{{ status.number }}" value="{{ status.number }}"
                    class="mdl-button mdl-js-button mdl-button{% if status.is_answered %}--accent{% else %}--primary{% endif %}">
                        {{ status.number }} {% if status.is_answered %}*{% endif %}
                    </button>
                {% endfor %}
            </div>


            <dialog class="mdl-dialog">
                <h4 class="mdl-dialog__title">Finish Quiz?</h4>
                <div class="mdl-dialog__content">
                    <p>
                        Do you want to save all your answers and finish the quiz?
                    </p>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="submit" class="mdl-button" name="finish_quiz">Yes</button>
                    <button type="button" class="mdl-button" onclick="close_finish_quiz_dialog()">No</button>
                </div>
            </dialog>
        </form>
    </div>

{% endblock container %}

{% block scripts %}
    <script>
        const finish_quiz_dialog = document.querySelector('dialog');
        function finish_confirmation() {
            finish_quiz_dialog.showModal();
        }
        if (!finish_quiz_dialog.showModal) {
            dialogPolyfill.registerDialog(finish_quiz_dialog);
        }
        function close_finish_quiz_dialog() {
            finish_quiz_dialog.close();
        }
    </script>
{% endblock scripts %}
