{% extends 'app/base.html' %}

{% block container %}

    {% if message %}
        {{ message }}
    {% endif %}

    <form action="" method="post">
        {% csrf_token %}
        Email :
        <input type="email" name="email">
        Password:
        <input type="password" name="password">
        <input type="submit" value="SignIn" name="sign_in">
    <button type="button" onclick="location.href='{% url 'sign_up' %}'">SignUp</button>
    <a href="{% url 'reset_password' %}" >Forgot password?</a>
    </form>

{% endblock container %}
