{% extends 'quiz/base.html' %}

{% block container %}

    <div class="container">
        <h3>Edit Question</h3>
        {% if error %}
            <div class="alert alert-danger" role="alert">
                {{ error }}
            </div>
        {% endif %}

        <form action="" method="post">
            {% csrf_token %}

            Question: <textarea name="question_text" class="mdl-textfield__input"
                                type="text">{{ question.text }}</textarea><br/>
            Explanation: <textarea name="explanation" class="mdl-textfield__input"
                                   type="text">{{ question.explanation }}</textarea><br/>

            <h5>Choices:</h5>
            <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
                <thead>
                <tr>
                    <th class="mdl-data-table__cell--non-numeric">Choice</th>
                    <th class="mdl-data-table__cell--non-numeric">Correct?</th>
                </tr>
                </thead>
                <tbody>
                {% for choice in choices %}
                    <tr>
                        <td><input type="text" name="choice-{{ choice.id }}" value="{{ choice.text }}"
                                   class="mdl-textfield__input"></td>
                        <td><label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                                   for="isCorrectBox-{{ choice.id }}">
                            <input type="checkbox" id="isCorrectBox-{{ choice.id }}" class="mdl-checkbox__input"
                                   name="is_correct_{{ choice.id }}"
                                    {% if choice.isCorrect %} checked {% endif %}>
                        </label></td>
                        <td><button type="button" onclick="deleteChoice('{{ choice.id }}', '{{ choice.text }}')"
                               class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Delete</button></td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="mdl-data-table__cell--non-numeric">
                        <button onclick="popAddChoice()" id="addNewChoiceButton" type="button"
                                class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                            Add
                        </button>
                    </td>
                </tr>
                </tbody>
            </table>
            <br/>
            <input type="submit" value="Save" name="save_details"
                   class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
            <button type="button" name="delete_doc" onclick="openDeleteQuestionDialog()"
                    class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"
                    style="margin-top: 16px">Delete
            </button>
            <br/>

            <div id="add_choice_pop_up" style="display: none;">
                <h4>Add New Choice</h4>
                Your unsaved changes will be lost. Please save the changes (if any) before adding a new choice.<br/>
                <div class="mdl-textfield mdl-js-textfield">
                    <input class="mdl-textfield__input" type="text" id="newChoiceTextField" name="new_choice_text"
                           required>
                    <label class="mdl-textfield__label" for="newChoiceTextField">Enter New Choice</label>
                </div>
                <br/>
                <label class="mdl-checkbox mdl-js-checkbox mdl-js-ripple-effect"
                       for="isNewCorrectBox">
                    <input type="checkbox" id="isNewCorrectBox" class="mdl-checkbox__input"
                           name="new_choice_is_correct">
                    <span class="mdl-checkbox__label">Is this choice a correct option?</span>
                </label><br/><br/>
                <input type="submit" name="add_new_choice" value="Add"
                       class="mdl-button mdl-button--raised mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                <button onclick="closePopUp()" type="button"
                        class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">Close
                </button>
            </div>

            <!-- -------------------- Delete question Dialog ----------------- -->
            <dialog class="mdl-dialog" id="deleteQuestionDialog">
                <h4 class="mdl-dialog__title">Delete mock test?</h4>
                <div class="mdl-dialog__content">
                    <p>
                        Are you that you want to delete question - {{ question.text }}?
                    </p>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button close" onclick="closeDialogs()">No</button>
                    <button type="submit" class="mdl-button" name="delete_mock_question">Yes</button>
                </div>
            </dialog>

            <!-- -------------------- Delete choice Dialog ----------------- -->
            <dialog class="mdl-dialog" id="deleteChoiceDialog">
                <h4 class="mdl-dialog__title">Delete choice?</h4>
                <div class="mdl-dialog__content">
                    <p id="choiceDialog"></p>
                </div>
                <div class="mdl-dialog__actions">
                    <button type="button" class="mdl-button close" onclick="closeDialogs()">No</button>
                    <input hidden type="text" id="choiceIdHidden" name="delete_mock_choice_id">
                    <button type="submit" class="mdl-button" name="delete_mock_choice">Yes</button>
                </div>
            </dialog>

        </form>

    </div>

    <script>
        function popAddChoice() {
            document.getElementById("add_choice_pop_up").style.display = 'block';
            document.getElementById("addNewChoiceButton").style.display = 'none';
        }

        function closePopUp() {
            document.getElementById("add_choice_pop_up").style.display = 'none';
            document.getElementById("addNewChoiceButton").style.display = 'block';
        }

        let deletingChoice = null;
        function deleteChoice(choiceId, choiceText) {
            deletingChoice = choiceId;
            document.getElementById("choiceDialog").innerHTML = "Are you that you want to delete the choice - " + choiceText + "?";
            document.getElementById("choiceIdHidden").value = choiceId;
            let choiceDialog = document.querySelector("#deleteChoiceDialog");
            choiceDialog.showModal();
        }

        function openDeleteQuestionDialog() {
            let dialog = document.querySelector("#deleteQuestionDialog");
            dialog.showModal();
        }

        function closeDialogs() {
            let questionDialog = document.querySelector("#deleteQuestionDialog");
            questionDialog.close();
            let choiceDialog = document.querySelector("#deleteChoiceDialog");
            choiceDialog.close();
            deletingChoice = null;
        }
    </script>

{% endblock container %}